body{
font-family:sans-serif;
margin:0;
background:#fafafa;
text-align:center;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#ff4c6a;
color:white;
}

.logo{
font-size:20px;
font-weight:bold;
}

.menu button{
background:white;
color:#ff4c6a;
}

#auth input{
padding:8px;
margin:2px;
}

button{
padding:12px 20px;
margin:5px;
border:none;
border-radius:10px;
cursor:pointer;
}

.bar{
height:30px;
background:#ddd;
border-radius:10px;
overflow:hidden;
}

.fill{
height:100%;
background:#ff4c6a;
}
