body{font-family:sans-serif;margin:0;text-align:center}

header{
display:flex;
justify-content:space-between;
padding:15px;
background:#eee;
}

.top-controls{display:flex;gap:10px;margin-right:40px}

.page-content{padding:40px}

.center-box{max-width:600px;margin:auto}

.big-test-btn{
display:block;
padding:30px;
background:#007bff;
color:white;
margin-top:20px;
font-size:22px;
border-radius:12px;
}

.test-container{
max-width:600px;
margin:auto;
}

#question{
font-size:28px;
margin-bottom:30px;
}

#yesBtn,#noBtn{
width:100%;
padding:20px;
font-size:20px;
margin:10px 0;
border-radius:12px;
}

.dark-mode{
background:#121212;
color:white;
}
